*.iml
.gradle
/ListyCity/local.properties
/ListyCity/.idea/caches
/ListyCity/.idea/libraries
/ListyCity/.idea/modules.xml
/ListyCity/.idea/workspace.xml
/ListyCity/.idea/navEditor.xml
/ListyCity/.idea/assetWizardSettings.xml
.DS_Store
/ListyCity/build
/ListyCity/captures
.externalNativeBuild
.cxx
local.properties
/ListyCity/.idea/
**/.settings/
**/.project
**/.classpath
instructions.txt
/ListyCityListyCity/
